form {
  display: flex;
  flex-direction: column;
  width: 480px;
  margin-top: 2em;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  gap: 1em;
}

.grid-element {
  background-color: lightblue;
  display: flex;
  font-size: 5em;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}